{% extends 'base.html' %}
{% block content %}
<div class="p-3">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-8 mx-auto">
                <h2>Top Commenter</h2>
                <hr />
                {% if template_data.top_user %}
                    <div class="card shadow p-4">
                        <h4>User: {{ template_data.top_user.user__username }}</h4>
                        <p><b>Comments Posted:</b> {{ template_data.top_user.comment_count }}</p>
                    </div>
                {% else %}
                    <div class="alert alert-secondary">
                        No comments have been posted yet.
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
